._*
.DS_Store

# Node.js files
node_modules
dist
coverage

# Environment files
.env
database.sqlite
.env.*

# SQLite database files
src/database/*.sqlite
src/database/*.db
src/database/*.sqlite3
src/database/*.sqlite-shm
src/database/*.sqlite-wal
src/database/*.sqlite-journal